.container {
  display: flex;
  justify-content: space-around; 
  padding: 70px;
  padding-top: 100px;
}

.container > div {
  flex: 1; 
  padding: 0 20px; 
}

.container > div:not(:last-child) {
  border-right: 5px solid green;
}